.title {
    padding: 30px;

    @media (max-width: 768px) {
      padding: 15px 10px 10px 10px;
    }
}

.aboutContainer {
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: stretch;

    @media (max-width: 768px) {
        padding: 15px 10px 10px 10px;
        flex-direction: column;
        align-items: center;
    }

    &_imageContainer {
        aspect-ratio: 1;
        height: 100%;
        width: 100%;
        max-width: 40%;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: top;
        }
    }

    &_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_downloadContainer {

        @media (max-width: 768px) {
            align-self: center;
        }
    }

    &_download {
        background: none;
        border-radius: 10px;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        border: 1px solid black;

        @media (max-width: 768px) {
            padding: 5px 10px;
            align-self: center;
        }
    }
}

.additionalInfo {
    display: flex; 
    flex-direction: row; 
    gap: 30px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }

    &_skills {
        flex: 1;

        &_content {
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                padding: 15px;
                gap: 5px;
                align-items: center;
            }

            &_list {
                display: flex;
                flex-direction: row;
                gap: 15px;
            }
        }
    }

    &_links {
        padding: 30px; 
        display: flex;
        gap: 15px;
        height: 100%;
        box-sizing: border-box;
        align-items: center;

        @media (max-width: 768px) {
            padding: 10px 10px 10px 10px;
            justify-content: center;
        }
    }
}

.linkIcon {
    width: 40px;
    height: 40px;
}