.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 10px 50px;

  @media (max-width: 768px) {
    gap: 30px;
    padding: 10px 20px;
  }

  @media (max-width: 480px) {
    gap: 10px;
    justify-content: space-between;
    padding: 10px 10px;
  }
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: white;
  text-shadow: 0px 2px 2px #000000;

  @media (max-width: 768px) {
    flex: 1;
    flex-direction: column;
    gap: 5px;
    font-size: small;
  }

  & svg {
    filter: 'drop-shadow(2px 2px 4px rgba(0,0,0,0.5))';
  }
}

.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $pink;
  text-shadow: 0px 0px 5px black;
}

.langSwitcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;

  &_btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    text-shadow: 0px 2px 2px black;
    opacity: 0.5;
  }
  
  &_btn_active {
    opacity: 1;
  }

  &_separator {
    color: white;
    text-shadow: 0px 2px 2px black;
  }
}
